body {
    margin: 0
}
header {
    background-color: rgb(255, 213, 0);
    height: 10%;
    margin-top: 0px;
}

h2 {
    font-size: large;
}

.oslomet-logo {
    width: 5%;
    margin-left: 14%;
    margin-top: 1%;
}
.sok-button {
    background-color: rgb(255, 213, 0);
    border: none;
    margin-left: 52%;
    margin-right: 2%;
    margin-top: 2%;
    vertical-align: top;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: Moderat, Avenir, Helvetica, Arial; /* må endres */
    font-weight: bold;
}
.meny-button {
    background-color: rgb(255, 213, 0);
    border: none;  
    margin-right: 10%;
    margin-top: 2%;
    vertical-align: top;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-family: Moderat, Avenir, Helvetica, Arial;
    font-weight: bold;
}
.studieoversikt-button {
    background-color: rgb(255, 213, 0);
    font-size: 16px;
    font-family: Moderat, Avenir, Helvetica, Arial;
    font-weight: bold;
    text-decoration: underline;
    border: none;
    margin-top: 2%;
    margin-left: 14%;
    margin-bottom: 2%;
}
.sok-button:hover {
    background-color: rgb(254, 221, 57);
}
.meny-button:hover {
    cursor: pointer;
}
.studieoversikt-button:hover {
    cursor: pointer;
}


.oversikt-tabell {

    border-spacing: 20px;
    color: black;
    
}

td {
    vertical-align: top;
}

.ingress {
    margin-left: 25%;
    margin-right: 25%;
}