body {
    font-family: Moderat, Avenir, Helvetica, Arial; /* må endres */ 
}

main {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: none;
}


header {
    background-color: rgb(0, 242, 255);
    height: 10%;
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: rgb(0, 242, 255);
}

header>nav {
    float: right;
}

a {
    text-decoration-color: yellow;  /*endres*/
    color: black;
    font-weight: 600;
}


button:hover, a:hover { 
    cursor: pointer; /*Museknappen endrer seg til hånd når den er over linker og knapper*/
}


h2 {
    font-size: large;
}

.oslomet-logo {
    width: 5%;
    margin-left: 14%;
    margin-top: 1%;
}

.oversikt-tabell, th, td {
    border-spacing: 20px;
    color: black;
}

td {
    vertical-align: top;
}

.ingress {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.oppbygging-tabell, .oppbygging-tabell th, .oppbygging-tabell td {
    border: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    vertical-align: top;
}

.valgfag {
    background-color: rgb(195, 227, 255);
}

.kristoffer-bilde {
    width: 30%;
    float: left;
    padding-right: 3%;
}

.spa-fremtiden, .spa-fremtiden a { 
    background-color: rgb(255, 213, 0);
    text-decoration: none;
    overflow: hidden;  /* setter div til samme høyde som bildet.
    virker i nettleser men ikke vscode*/
}
.smilefjes-bilde {
    width: 50%;
    float: right;
}
.spa-fremtiden-overskrift {
    font-size: x-large;
    padding-left: 4%;
}
.spa-fremtiden p {
    padding-left: 4%;
    padding-bottom: 3%;
}
.spa-fremtiden h2, h5 {
    padding-left: 4%;
    padding-top: 2%;
}

.andre-studier-button {
    background-color: white;
    border: none;
    text-align: left;
    padding: 3%;
    text-decoration: none;
}

.andre-studier-link {
    text-decoration: none;
}

.faglig-leder-button {
    background-color: white;
    border: none;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: gray;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
}



